.task {
    position: relative;
    top:30px; display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-direction: row;
    height: auto; width: 560px;
    align-items: center;
}

.task-info{
    display: flex;
    align-items: center;
    width: 70%;
}

.completed {
    text-decoration: line-through;
}
